body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: all 0.3s ease;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 650px;
  transition: all 0.3s ease;
}

.input-group {
  margin-bottom: 20px;
}

.password {
  font-size: 2rem;
  font-weight: bold;
  background-color: #e7e7e7;
  padding: 40px;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
  word-wrap: break-word;
  position: relative;
  word-break: break-all;
}

.password .copied {
  color: #4CAF50;
  font-size: 1rem;
  margin-top: 10px;
}

.button, .copy-button, .reset-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 18px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.button:hover, .copy-button:hover, .reset-button:hover {
  background-color: #45a049;
}

.copy-button {
  background-color: #ff9800;
  margin-top: 20px;
}

.copy-button:hover {
  background-color: #fb8c00;
}

.reset-button {
  background-color: #f44336;
}

.reset-button:hover {
  background-color: #e53935;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #45a049;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

.message {
  font-size: 2rem;
  color: #4CAF50;
  margin-top: 10px;
  display: none;
}
